* { 
    box-sizing: border-box; 
}

img{
    width: 100%;
    display: block;
}

main{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

div{
    display: flex;
    flex-wrap: wrap;
}